<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coordinator.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @coordinator.rut %>
</p>

<p>
  <strong>Address:</strong>
  <%= @coordinator.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coordinator.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @coordinator.telephone %>
</p>

<p>
  <strong>Control:</strong>
  <%= @coordinator.control %>
</p>

<p>
  <strong>Date:</strong>
  <%= @coordinator.date %>
</p>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
