<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @conveyor.product %>
</p>

<p>
  <strong>Data:</strong>
  <%= @conveyor.data %>
</p>

<p>
  <strong>Address:</strong>
  <%= @conveyor.address %>
</p>

<%= link_to 'Edit', edit_conveyor_path(@conveyor) %> |
<%= link_to 'Back', conveyors_path %>
